@import '../variables.scss';

.my-card {
    background: white;
    border-radius: 0.4rem;
    &:not(:last-child) {
        margin-bottom: 1.2rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $body-background;
        padding: 0.75rem 1rem;
    }
    &__title {
        font-family: $header-font;
    }
    &__body {
        font-family: $body-font;
        font-size: 1rem;
        padding: 1rem;
    }
}