.root {
    display: inline-block;
    font-size: 1.1rem;

    span {
        margin-right: 0.5rem;
    }

    input {
        outline: none;
        padding: 0.2rem 0.3rem;
        border: 0;
        border-radius: 5%;
    }
}