.root {
    position: relative;
}

.hint-block {
    display: block;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.card {
    border: 0;
}

.card-body {
    padding: 0;
    min-height: 0;
}