@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../libs/fontello/css/fontello-embedded.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400&display=swap');
@import './variables.scss';

html, body {
    height: 100%;
}

body {
    background: $body-background;
    font-size: 18px;
}

#app {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__graph {
        flex-grow: 1;
    }
}

p:last-child {
    margin-bottom: 0;
}

.addition-rule-editor-row {
    & .form-label, & input {
        opacity: 0.5;
    }
}